<html ng-app="todoApp">
    <head>
        <link rel="stylesheet" href="todo.css">
        <title>TODO App</title>
    </head>
    <body>
        <h2>Todo List</h2>
        <div ng-controller="TodoListController as todoList">
            <span>{{todoList.remaining()}} de {{todoList.todos.length}} restantes</span>
            [ <a href="" ng-click="todoList.archive()">archivar</a> ]
            <ul class="unstyled">
                <li ng-repeat="todo in todoList.todos">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="todo.done">
                        <span class="done-{{todo.done}}">{{todo.text}}</span>
                    </label>
                </li>
            </ul>
            <form ng-submit="todoList.addTodo()">
                <input type="text" ng-model="todoList.todoText"  size="30"
                       placeholder="nuevo TODO">
                <input class="btn-primary" type="submit" value="+">
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="todo.js"></script>
    </body>
</html>
